body {
    display: flex;
    flex-direction: column;
    min-width: none;
    min-height: auto;
    align-items: center;
    text-align: center;
    min-height: auto;
}

main {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: auto;
    align-items: center;
    text-align: center;
    min-height: auto;
}

header {
    background-color: aqua;
    width: 100%;
}

.game {
    width: 50%;
    padding-bottom: 50%;
    position: relative;
}

.center-area {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.center-board {
    width: 100%;
    height: 100%;
    align-self: center;
    justify-self: center;
}

.mahjong-area,
.center-board,
.scoring-table {
    display:grid;
    justify-items: center;
}

.center-board,
.scoring-table {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
}

.mahjong-area {
    grid-template-columns: min-content auto min-content;
    grid-template-rows: min-content auto min-content;
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    background: #66F;
    background-color: green;
    color: white;
    border: 0.5rem solid burlywood;
    gap: 16px;
    padding: 16px;
}

.player {
    background: tan;
    padding: 8px;
}

.player-opposite,
.player-you  {
    grid-column: 1 / span 3;
    height: fit-content;
    width: 75%;
}

.player-opposite,
.score-opposite {
    writing-mode: horizontal-tb;
    direction: rtl;
    transform: scale(-1, -1);
}

.player-you {
    align-self: flex-end;
}

.player-left,
.player-right,
.score-left,
.score-right {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
}

.player-left,
.score-left {
    writing-mode: sideways-rl;
    margin-right: auto;
}
.player-right,
.score-right {
    writing-mode: sideways-lr;
    margin-left: auto;
}

.mahjong-pieces {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 3em;
    color: white;
}

.player .single-piece {
    background-color: white;
    color: wheat;
}

.player-you .single-piece {
    background-color: #F0EAD6;
    color: black;
}

.center .single-piece {
    font-size: 2em;
}


.center {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    .single-piece {
        width: 0.8em;
        height: 1em;
    }
    align-items: baseline;
    align-self: center;
    width: 90%;
    height: 90%;
}

.center.player-opposite,
.score-opposite {
    /* grid-row: 1, 2; */
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

.center.player-you,
.score-you {
    grid-row-start: -1;
    grid-row-end: -2;
    grid-column-start: 2;
    grid-column-end: 3;
}

.center.player-left,
.score-left {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

.center.player-right,
.score-right {
    grid-row-start: -2;
    grid-row-end: -3;
    grid-column-start: -1;
    grid-column-end: -2;
}


.scoring-table,
.remaining-count {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

.remaining-count {
    align-self: center;
}

.center.player-left,
.center.player-right {
    .single-piece {
        width: 1em;
        height: 0.9em;
    }
}

.picked-up {
    min-width: 1em;
    min-height: 1em;
    background-color: green;
}

.scoring-table {
    width: 100%;
    height: 100%;
    background-color: #66F;
}

.single-piece {
    line-height: 1em;
    background-color: #F0EAD6;
    color: black;
    border-radius: 15%;
}


