body {
    display: flex;
    flex-direction: column;
    min-width: none;
    min-height: auto;
    align-items: center;
    text-align: center;
    min-height: auto;
}

main {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: auto;
    align-items: center;
    text-align: center;
    min-height: auto;
}

header {
    background-color: aqua;
    width: 100%;
}
